body{
    background-image: url(./beauty-of-nature-24.jpg);
    background-size: cover;
    
}
button{
    height: 100px;
    width: 200px;
    font-size: 20px;
    box-shadow: 15px 15px 15px black;
    border-radius: 20px;
    transition: 0.5s;
    font-family: Arial, Helvetica, sans-serif;
}
.onClick1:hover{
    background-color: rgb(0, 21, 255);
    color: white;
    box-shadow: 10px 10px 15px black;
    border-radius: 2em;
    transition: 0.2s;
}
.onClick2:hover{
    background-color: rgb(255, 85, 0);
    color: white;
    box-shadow: 10px 10px 15px black;
    border-radius: 2em;
    transition: 0.2s;
}
.onClick3:hover{
    background-color: rgb(0, 255, 123);
    color: white;
    box-shadow: 10px 10px 15px black;
    border-radius: 2em;
    transition: 0.2s;
}
div{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 100px;
}
#counter{
    color: rgb(255, 255, 255);
    font-size: 30px;
    }
#counter p{
    background-color: rgba(186, 186, 186, 0.575);
    padding: 10px;
    box-shadow: 10px 10px 15px black;
    border-radius: 10px;
    font-weight: bolder;
}    
.speed select{
    padding: 15px;
    font-size: 20px;
    border-radius: 2em;
}
.speed{
    display: flex;
}
.speed select:hover{
    box-shadow: 10px 10px 15px black;
    border-radius: 2em;
    transition: 0.2s;
}